# ZSH
linux/.config/zsh/.zcompdump
linux/.local/share/zsh/plugins/*
!linux/.local/share/zsh/plugins/vi-mode/

# NVIM
lazy-lock.json
linux/.config/nvim/lua/plugins/settings/temporary.lua

# MISC
linux/.config/.aliases
