[Unit]
Description=Create a backup of the $HISTFILE

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/linux/.local/bin/backup_zsh_histfile

[Install]
WantedBy=default.target
