[Unit]
Description=Create a backup of the $HISTFILE

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/linux/scripts/backup_zsh_histfile.sh

[Install]
WantedBy=default.target
